.main__page {
  background-color: #1f1f1f;
  color: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 2.4rem;

  gap: 2.4rem;
}

.user__image {
  height: 8.8rem;
  width: 8.8rem;
  border-radius: 50%;
  margin-bottom: 2.4rem;
}

.user__name {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
}

.user__location {
  color: #b0de25;
  margin-bottom: 2.4rem;
}

.text {
  font-weight: 400;
}

.links__box {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 1.8rem;
}

.btn {
  width: 26rem;
  border: none;
  padding: 1.2rem;
  border-radius: 0.8rem;
  font-family: inherit;
  background-color: #333;
  color: #fff;
  font-weight: 700;

  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  transform: translateY(-0.5rem);
}

.btn--1:hover {
  background-color: #4cc90eda;
}

.btn--2:hover {
  background-color: #c9140eda;
}

.btn--3:hover {
  background-color: #f3e712e2;
}

.btn--4:hover {
  background-color: #9d0ec9da;
}

.btn--5:hover {
  background-color: #0ebcc9da;
}

.btn:active {
  transform: translateY(0.2rem);
}
