:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  height: 100vh;
  display: grid;
  place-items: center;
}

.wrapper {
  border-radius: 1.2rem;
  width: 32.7rem;
  height: 57.9rem;
  display: grid;
  place-items: center;
}

.page__text {
  text-align: center;
  display: flex;
  font-size: 2.4rem;
}

.back__text {
  font-weight: 400;
  color: #fff;
  cursor: pointer;

  text-decoration: none;
  transition: all 0.3s;
}

a {
}

.back__text:hover {
  transform: scale(1.4);
}
